{% extends 'base.html' %}
{% load static %}
{% block title %}Upgrade Membership to {{ membership_level|title }} {% endblock %}

{% load crispy_forms_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

{% endblock %}

{% block content %}
<div class="lanarkshire-form">
    <form method="POST" id="payment-form">
        <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
        {% csrf_token %}
        {{ order_form|crispy }}
    {% if membership_level != 'bronze' %}
        {{ payment_form|crispy }}
    {% endif %}
        <input class="btn btn-primary btn-block btn-lg"id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </form>
</div>


{% endblock %}