{% extends 'base.html' %}
{% load static %}
{% block title %}Upgrade Membership to {{ membership_level|title }} {% endblock %}

{% load crispy_forms_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>

{% endblock %}

{% block content %}

<div class="event-container layout">
    <h3>Hi {{ user.first_name|title }}</h3>
    <p class="membership-info">
    {% if membership_level == 'bronze' %}
        You've chosen to be a<span class="bronze-text"><strong> BRONZE</strong></span> member, this is completely free! Please fill out the form for our records.
    {% elif membership_level == 'silver' %}
        You've chosen to be a<span class="silver-text"><strong> SILVER</strong></span> member. Please complete the following form to pay the <strong><i class="fas fa-pound-sign"></i> 20 </strong> membership.
    {% elif membership_level == 'gold' %}
        You've chosen to be a<span class="gold-text"><strong> GOLD</strong></span> member. Please complete the following form to pay the <strong><i class="fas fa-pound-sign"></i> 120 </strong> membership.
    {% endif %} 
    </p>
    <div class="divider"></div>
</div>


<div class="lanarkshire-form">
    <form method="POST" id="payment-form">
        <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        {% csrf_token %}
        {{ order_form|crispy }}
    {% if membership_level != 'bronze' %}
        {{ payment_form|crispy }}
    {% endif %}
        <input class="btn btn-primary btn-block btn-lg"id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </form>
</div>


{% endblock %}