/* Site-wide styles from base.html */

/* Fonts by Tyler Finck*/ 
@import url("../fonts/ostrich-sans/ostrich-sans.css");

/* Site-wide Colours and Fonts */
:root {
    --tangerine: #f26204;
    --sunshine: #FFC300;
    --grass: #00ad37;
    --blueberry: #3b0061;
    --raspberry: #e70026;
    --lanwhite: #f1fae5;
    --langrey: #1b1b1b;
    --site-font: 'Muli', sans-serif;
    --title-font: 'Ostrich Sans', sans-serif;
}


body {
    color: var(--lanwhite);
    font-family: var(--site-font);
}

#site-background {
    min-height: 100vh;
    margin: 0;
    
}

#site-content {
    padding-top: 60px;
}

.divider {
    width: 100%;
    background-color: #007bff;
    height: 1.2px;
}

.layout {
    padding: 0px 30px;
}

/*Navbar Styles*/

.navbar-effect {
    background-color: #f1fae55e !important;
}

.navbar {
    color: var(--lanwhite);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}

.navbar-toggler-icon {
    padding-top: 5px;
    color: var(--lanwhite);
}

.navbar-brand,
.nav-link {
    color: var(--lanwhite);
}

.nav-link:hover:visited,
a:hover:visited {
    color: #007bff;
}

#user-message {
    color: var(--lanwhite);
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 
    0 0 0.1vw 0.4vw #b3d7ff, 
    0 0 0.4vw 0.6vw #7ebafb, 
    0 0 1.8vw 0.2vw #007bff, 
    inset 0 0 0.8vw 0.1vw #007bff, 
    inset 0 0 0.4vw 0.2vw #64acf9, 
    inset 0 0 0vw 0.1vw #b3d7ff;
    border-radius: 0.6rem;
}

/*Site-wide Forms Styling*/

.lanarkshire-form {
    margin: 0px 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .lanarkshire-form {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.form-button {
    margin-top: 30px;
}

/*Index Styles*/

#site-title {
    font-family: var(--title-font);
    font-size: 5.7rem;
    font-weight: 500;
}

/*Events Page Styles*/
.card-row {
    margin-right: 15px;
}

.card {
    color: var(--langrey);
    background-color: var(--lanwhite);
    min-height: 100%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-body {
    padding-top: 5px;
}

.card-title {
    margin-bottom: 0px;
}

.card-footer {
    background-color:  var(--lanwhite);
    border: 0;
}

.event-host,
.card-container {
    font-size: 0.8rem;
}

.col {
    padding-left: 0px;
}


/*Media Queries*/
@media screen and (min-width: 992px) {
    .lanarkshire-form {
        margin-left: 100px;
        margin-right: 140px;
    }
    #site-title {
    font-size: 9rem;
    font-weight: 500;
}
}
