/* Site-wide styles from base.html */

/* Fonts by Tyler Finck*/ 
@import url("../fonts/ostrich-sans/ostrich-sans.css");

/* Site-wide Colours and Fonts */
:root {
    --tangerine: #f26204;
    --sunshine: #FFC300;
    --grass: #00ad37;
    --blueberry: #3b0061;
    --raspberry: #e70026;
    --lanwhite: #f1fae5;
    --langrey: #1b1b1b;
    --site-font: 'Muli', sans-serif;
    --title-font: 'Ostrich Sans', sans-serif;
}


body {
    color: var(--lanwhite);
    font-family: var(--site-font);
}

#site-background {
    min-height: 100vh;
    padding-bottom: 30px;
    margin: 0;
    
}

#site-content {
    padding-top: 60px;
}

.divider {
    width: 100%;
    background-color: #007bff;
    height: 1.2px;
}

.layout {
    padding: 0px 30px;
}


/*Navbar Styles*/

.navbar-effect {
    background-color: #f1fae55e !important;
    transition: background-color 0.4s ease-in-out 0s;
}

.navbar {
    color: var(--lanwhite);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    transition: background-color 0.4s ease-in-out 0s;
}

.navbar-toggler-icon {
    padding-top: 5px;
    color: var(--lanwhite);
}

.navbar-brand,
.nav-link {
    color: var(--lanwhite);
}

.nav-link:hover:visited {
    color: #007bff;
}

.site-title-small {
    font-family: var(--title-font);
    font-weight: 500;
}

.change-word-small {
    top: -1.4em;
    font-size: 50%;
}

.placeholder {
    width: 100%;
    padding-top: 15px;
}

#user-message {
    background-color: #f1fae5b5;
    color: var(--langrey);
    margin: 0 30px 20px 30px;
    padding: 10px;
    text-align: center;
    border-radius: 0.6rem;
    
}

/*Site-wide Forms Styling*/

.lanarkshire-form {
    margin: 0px 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .lanarkshire-form {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.form-button {
    margin-top: 30px;
}

/*Index Styles*/

.title-layout {
    text-align: center;
}

.site-title {
    font-family: var(--title-font);
    font-size: 5rem;
    font-weight: 500;
    position: relative;
    
}

.changing-word-list {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 2rem;
    padding: 0;
    position: relative;
    top: 1.9rem;
    left: 1.7%;
    text-align: left;
    margin-bottom: 0;
    width: fit-content;
    visibility:hidden;
}

.index-placeholder {
    height: 0px !important;
}

.index-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
    
}

.search-box {
    margin: 30px 0;
}


/*Events Page Styles*/
.filter-row {
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
}

.form-group {
    width: 100%
}

@media screen and (min-width: 992px) {
    .filter-row {
        justify-content: space-between;
        flex-direction: row;
    }
    #div_id_town, 
    #div_id_event_type,
    #div_id_day {
        width: 30%;
    }
}

.card-row {
    margin: 0;
}

.top-row {
    margin-top: 10px;
}

.card-col {
    padding-bottom: 20px;
}

.card {
    color: var(--langrey);
    background-color: var(--lanwhite);
    min-height: 100%;
}

.card-img-top {
    width: 100%;
    height: 36vw;
    object-fit: cover;
}

.card-body {
    padding-top: 5px;
}

.card-title {
    margin-bottom: 0px;
}

.card-footer {
    background-color:  var(--lanwhite);
    border: 0;
}

.event-host,
.card-container {
    font-size: 0.8rem;
}

.col {
    padding-left: 0px;
}

/*View one event styling*/

.event-container {
    margin: 0 20px 60px 20px;
    padding: 20px;
    background-color: var(--lanwhite);
    color: var(--langrey);
}

.event-view-image {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.event-info {
    margin: 20px -15px 0px -15px;
    
}

.event-text {
    padding-top: 20px;
    margin-bottom: 20px;
}

.easy-map-googlemap {
    width: 100% !important;
    height: 300px !important;
}

.gm-style-mtc {
    visibility: hidden;
}

.modal {
    color: var(--langrey);
}

.join-form {
    display: inline-block;
}

.like-button {
    position: absolute;
    top: 6px;
    right: 6px;
}

.btn-outline-danger {
    border: none;
}


/*Media Queries*/

/*Site Title styling for all screen sizes*/
/*Tablet*/
@media screen and (min-width: 768px) {
    .site-title {
        font-size: 8rem;
    }
    .changing-word-list {
        font-size: 2.4rem;
        top: 2.8rem;
        left: 13.8%;
        width: fit-content;
    }
}
/*Small Laptop*/
@media screen and (min-width: 992px) {
    .site-title {
        font-size: 12rem;
    }
    .changing-word-list {
        font-size: 3.8rem;
        top: 4.4rem;
        left: 9.1%;
        width: fit-content;
        
    }
}
/*Extra-large screens*/
@media screen and (min-width: 1200px) {
    .changing-word-list {
        top: 4.3rem;
        left: 19.6%;
    }
}
/*4K screens*/
@media screen and (min-width: 2560px) {
    .changing-word-list {
        top: 4.3rem;
        left: 33.6%;
    }
}

/*General styling for desktop/laptop*/
@media screen and (min-width: 992px) {
    .lanarkshire-form {
        margin-left: 100px;
        margin-right: 140px;
    }
    
    .event-container {
    margin: 0 60px 60px 60px;
    }
    .card-img-top {
        height: 14vw;
    }
    .placeholder {
        height: 74px;
    }
    #user-message {
        margin: 0 60px;
    }
}
