{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="lanarkshire-form">
    <form method="POST" action="{% url 'login_modal' %}">
            {% csrf_token %} {{ login_form|crispy }}
            
            <p><a href="{% url 'password_reset' %}">Forgotten Password?</a></p>
            
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
</div>


{% endblock %}