{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.first_name|title }}'s Profile{% endblock %}
{% load crispy_forms_tags %}

{% block css %}
<!-- Allows for horizontal scrolling sections -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-horizon/0.1.1/bootstrap-horizon.css">
{% endblock %}

{% block head_js %}
<!-- Supports Stripe payments -->
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<div class="event-container layout">
    <h3>Hi {{ user.first_name|title }}</h3>
        <p class="membership-info">
        {% if membership.bronze %}
            Your membership is<span class="bronze-text"><strong> BRONZE</strong></span>, you can join as many exciting events as you like!
        {% else %}
            Your membership is{% if membership.silver %}<span class="silver-text"><strong> SILVER{% else %}<span class="gold-text"><strong> GOLD{% endif %}</strong></span>, you have {{ membership.posts_remaining }} {% if membership.posts_remaining != 1 %} posts {% else %} post {% endif %} remaining.
        {% endif %} 
        </p>
    <div class="divider"></div>
    <!-- Edit User Details Accordion -->
    <div class="profile-button">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#edit_user" aria-expanded="false" aria-controls="collapseExample">Edit your details <i class="fas fa-user-edit"></i></button>
        <div class="collapse" id="edit_user">
            <div class="card card-body">
                <form method="POST">
                    <div class="row filter-row">
                    {% csrf_token %}
                    {{edit_form|crispy }}
                    </div>
                    <button action="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Upgrade/ Change Membership Accordion launches payment modal -->
    <div class="profile-button">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#change_membership" aria-expanded="false" aria-controls="collapseExample">Edit/ Upgrade your membership <i class="fas fa-medal"></i></button>
        <div class="collapse" id="change_membership">
            <div class="row card-row">
                <div class="col-sm-4 mem-card">
                    <div class="card">
                        <ul class="price">
                            <li class="header bronze-header"><strong>BRONZE</strong></li>
                            <li class="bronze-text"><strong>Free</strong></li>
                            <li>Join Events</li>
                            <li>N/A</li>
                            {% if membership.bronze %}
                            <li class="grey"><button class="btn btn-secondary btn-block" disabled>Enjoy!</button></li>
                            {% else %}
                            <li class="grey"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#paymentModal" data-level="bronze">Change</button></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 mem-card">
                    <div class="card">
                        <ul class="price">
                            <li class="header silver-header"><strong>SILVER</strong></li>
                            <li class="silver-text"><strong>£20</strong></li>
                            <li>Join and Post Events</li>
                            <li>2 Posts</li>
                            <li class="grey"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#paymentModal" data-level="silver">Purchase</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 mem-card">
                    <div class="card">
                        <ul class="price">
                            <li class="header gold-header"><strong>GOLD</strong></li>
                            <li class="gold-text"><strong>£120</strong></li>
                            <li>Join and Post Events</li>
                            <li>15 Posts</li>
                            <li class="grey"><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#paymentModal" data-level="gold">Purchase</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Liked/ Saved Events Accordion with Horizontal Scroll -->
    <div class="profile-button">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#liked_events" aria-expanded="false" aria-controls="collapseExample">Your Saved Events <i class="fas fa-heart"></i></button>
        <div class="collapse" id="liked_events">
            <div class="card card-body h-card">
                <div class="container-fluid">
                    {% if user_liked_events|length == 0 %}
                       <p class="text-center">You have no saved events!</p> 
                    {% else %}
                    <div class="row flex-row flex-nowrap h-scroll">
                    {% for event in user_liked_events %}
                        {% include "view_events_partial.html" %}
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- User Booked Events Accordion with Horizontal Scroll -->
    <div class="profile-button">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#booked_events" aria-expanded="false" aria-controls="collapseExample">Your Booked Events <i class="far fa-calendar-alt"></i></button>
        <div class="collapse" id="booked_events">
            <div class="card card-body h-card">
                <div class="container-fluid">
                    {% if user_participant_events|length == 0 %}
                       <p class="text-center">You have no booked events!</p> 
                    {% else %}
                    <div class="row flex-row flex-nowrap h-scroll">
                    {% for event in user_participant_events %}
                        {% include "view_events_partial.html" %}
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- User Attended History Events Accordion with Horizontal Scroll -->
    <div class="profile-button">
        <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#event_history" aria-expanded="false" aria-controls="collapseExample">Event History <i class="fas fa-history"></i></button>
        <div class="collapse" id="event_history">
            <div class="card card-body h-card">
                <div class="container-fluid">
                    {% if user_participated_events|length == 0 %}
                       <p class="text-center">You have no attended events!</p> 
                    {% else %}
                    <div class="row flex-row flex-nowrap h-scroll">
                    {% for event in user_participated_events %}
                        {% include "view_events_partial.html" %}
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    {% if membership.silver or membership.gold %}
    <!-- User Hosted Events Accordion with Horizontal Scroll, also shows Edit and Historical Events -->
    <div class="profile-button">
        <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="collapse" data-target="#event_hosting" aria-expanded="false" aria-controls="collapseExample">Your Events</button>
        <div class="collapse" id="event_hosting">
            <div class="card card-body h-card">
                <div class="container-fluid">
                    {% if user_hosted_events|length == 0 %}
                       <p class="text-center">You have no hosted events... yet!</p> 
                    {% else %}
                    <div class="row flex-row flex-nowrap h-scroll">
                    {% for event in user_hosted_events %}
                        {% include "view_events_partial.html" %}
                    {% endfor %}
                    {% for event in user_past_hosted_events %}
                        {% include "view_events_partial.html" %}
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="profile-button">
        {% if membership.posts_remaining == 0 %}
            <button class="btn btn-secondary btn-lg btn-block">Post a New Event</button>
        {% else %}
            <a href={% url 'post_event' %} class="btn btn-success btn-lg btn-block">Post a New Event</a>
        {% endif %}
    </div>
    {% endif %}
</div>

<!--Modal for membership upgrade-->

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <!--Form will display for changing to bronze membership-->
                <form method="POST" id="bronze-form" action="{% url 'membership' 'bronze' %}">
                    {% csrf_token %} 
                    {{ order_form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Submit Request</button>    
                </form>
                <!--Form with payment element will display for changing to silver or gold membership-->
                <form method="POST" id="payment-form" action="" data-token="{{ publishable }}">
                    {% csrf_token %} 
                    {{ order_form|crispy }}
                    <fieldset class="form-group">
                        <label for="card-element" class="col-form-label">Credit or Debit Card</label>
                        <!-- Stripe widget inserted below -->
                        <div id="card-element" class="textinput textInput form-control"></div>
                        <div id="card-errors" class="white-text red" role="alert"></div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit Payment</button>
                        </div>
                    </fieldset>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

<script type="text/javascript">
$(function() {
    $('#paymentModal').on('show.bs.modal', modalMemForm);
});
$(function() {
    $('.collapse').on('shown.bs.collapse', (() => {
        $('.collapse .h-card .container-fluid .h-scroll:visible').each(scrollSection) 
    }));
    
});
   
</script>
<!--Stripe JS below will handle display of card element in modal form-->
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock %}