{% extends 'base.html' %}
{% load static %}
{% block title %}{{ event.title }}{% endblock %}


{% block content %}

<div class="event-container layout">
    <h5 class="card-title">{{ event.title|title }}</h5>
        <span class="event-host">Hosted by: <strong>{{ event.event_host|title }}</strong></span>
    <div class="divider"></div>
    <div class="media">
        <div class="event-view-image">
            {% if event.image %}
            <img src="{{ MEDIA_URL }}{{ event.image }}" class="mr-3 img-fluid event-image" alt="{{ event.event_type }} Image"> 
            {% else %} 
                {% if event.event_type == "Arts and Crafts" %}
                    <img src="{{ MEDIA_URL }}images/craft_event.jpg" class="mr-3 img-fluid event-image" alt="Arts and Crafts Image"> 
                {% elif event.event_type == "Education" %}
                    <img src="{{ MEDIA_URL }}images/education_event.jpg" class="mr-3 img-fluid event-image" alt="Education Image"> 
                {% elif event.event_type == "Nature" %}
                    <img src="{{ MEDIA_URL }}images/nature_event.jpg" class="mr-3 img-fluid event-image" alt="Nature Image"> 
                {% elif event.event_type == "Physical and Exercise" %}
                    <img src="{{ MEDIA_URL }}images/physical_event.jpg" class="mr-3 img-fluid event-image" alt="Physical and Exercise Image"> 
                {% elif event.event_type == "Health and Wellbeing" %}
                    <img src="{{ MEDIA_URL }}images/wellbeing_event.jpg" class="mr-3 img-fluid event-image" alt="Health and Wellbeing Image"> 
                {% elif event.event_type == "Entertainment" %}
                    <img src="{{ MEDIA_URL }}images/entertainment_event.jpg" class="mr-3 img-fluid event-image" alt="Entertainment Image"> 
                {% endif %} 
            {% endif %}
        </div>
        <div class="media-body event-info">
            
            <div class="row">
                <div class="col col-xs-6">
                    <p><i class="fas fa-location-arrow"></i> - {{ event.town }}</p>
                </div>
                <div class="col col-xs-6">
                    {% if event.price == null %}
                    <p><i class="fas fa-pound-sign"></i> - free!</p>
                    {% else %}
                    <p><i class="fas fa-pound-sign"></i> - £{{ event.price }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if event.event_date_begins == event.event_date_ends %}
                    <p><i class="far fa-calendar-alt"></i> - {{ event.event_day }} {{ event.event_date_begins|date:"jS F Y" }}</p>
                    {% else %}
                    <p><i class="far fa-calendar-alt"></i> - {{ event.event_day }}s from {{ event.event_date_begins|date:"jS F Y" }} to {{ event.event_date_ends|date:"jS F Y" }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><i class="far fa-clock"></i> - {{ event.event_time_begins }} 'til {{ event.event_time_ends }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Event Suitable For: {{ event.age_range }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Current Places: {{ current_places }} </p>
                </div>
            </div>
        </div>
    </div>
    <p class="event-text">{{ event.description|capfirst }}</p>
    <div id="easy-map">
        {% load easy_maps_tags %}
        {% easy_map event.post_code 200 200 12 using "easy_maps/map.html" %}
    </div>
    <a href="#" class="btn btn-secondary">Back</a>
    {% if user_joined %}
        <button class="btn btn-secondary" disabled>You've booked this!</button>
        <a href="{% url 'delete_participant' event.id %}" class="btn btn-danger float-right">Cancel booking</a>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button action="submit" class="btn btn-primary">Book a Place</button>
        </form>
    {% endif %}
    
</div>

{% block js %}
{% endblock %}
                                            

{% endblock %}

