{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}

{% block content %}
<p>Love</p>
<h1>Lanarkshire</h1>
<p>Find and post local classes, events and activities.</p>



<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
        {% for event in events %}
        <img src="{{ MEDIA_URL }}{{ event.image }}" class="card-img-top" alt="">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <a href="#" class="btn btn-primary">Join Up!</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}