{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <button class="btn btn-primary btn-lg btn-block" id="filter-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filter {{ results }} Awesome {% if results == 1 %}Event{% else %}Events{% endif %} <i class="fas fa-sort-amount-down"></i></button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form method="POST">
                <div class="row filter-row">
                
                {% csrf_token %}
                
                {{ filter_form|crispy }}
                
                </div>
                <button type="submit" id="filter-btn" class="btn btn-success float-right">Filter</button>
                <a href="{% url 'search' %}" class="btn btn-secondary float-right">Reset</a>
            </form>
        </div>
    </div>
    <div class="row top-row">
        {% for event in events %}
        <div class="col-sm-12 col-md-6 col-lg-4 card-col">
            <div class="card">
                {% if user.is_authenticated %}
                    {% if event in user_liked %}
                        <span title="You like this event!"><i class="fas fa-heart like-heart btn like-button no-hover"></i></span>
                    {% endif %}
                    {% if event in user_joined %}
                        <span class="booked-sticker" title="You booked this event!">BOOKED!</span>
                    {% endif %}
                {% endif %}
                <div class="card-image">
                    {% if event.image %}
                        <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.event_type }} Image" title="{{ event.event_type }} Event: {{event.title}}">
                    {% else %} 
                        {% if event.event_type == "Arts and Crafts" %}
                            <img src="{{ MEDIA_URL }}images/craft_event.jpg" class="card-img-top" alt="Arts and Crafts Image" title="Arts and Crafts Event: {{event.title}}">
                        {% elif event.event_type == "Educational" %}
                            <img src="{{ MEDIA_URL }}images/education_event.jpg" class="card-img-top" alt="Education Image" title="Education Event: {{event.title}}"> 
                        {% elif event.event_type == "Nature" %}
                            <img src="{{ MEDIA_URL }}images/nature_event.jpg" class="card-img-top" alt="Nature Image" title="Nature Event: {{event.title}}">
                        {% elif event.event_type == "Physical and Exercise" %}
                            <img src="{{ MEDIA_URL }}images/physical_event.jpg" class="card-img-top" alt="Physical and Exercise Image" title="Physical and Exercise Event: {{event.title}}">
                        {% elif event.event_type == "Health and Wellbeing" %}
                            <img src="{{ MEDIA_URL }}images/wellbeing_event.jpg" class="card-img-top" alt="Health and Wellbeing Image" title="Health and Wellbeing Event: {{event.title}}"> 
                        {% elif event.event_type == "Entertainment" %}
                            <img src="{{ MEDIA_URL }}images/entertainment_event.jpg" class="card-img-top" alt="Entertainment Image" title="Entertainment Event: {{event.title}">
                        {% endif %} 
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ event.title|title }}</h5>
                    <span class="event-host">Hosted by: <strong>{{ event.event_host|title }}</strong></span>
                    <div class="divider"></div>
                    <p class="card-text">{{ event.description|capfirst|truncatewords:8 }}</p>
                    <div class="container card-container">
                        <div class="row">
                            <div class="col col-xs-6">
                                <p><i class="fas fa-location-arrow"></i> - {{ event.town }}</p>
                            </div>
                            <div class="col col-xs-6">
                                {% if event.price == null %}
                                    <p><i class="fas fa-pound-sign"></i> - free!</p>
                                {% else %}
                                    <p><i class="fas fa-pound-sign"></i> - £{{ event.price }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% if event.event_date_begins == event.event_date_ends %}
                                    <p><i class="far fa-calendar-alt"></i> - {{ event.event_day }} {{ event.event_date_begins|date:"jS F Y" }}</p>
                                {% else %}
                                    <p><i class="far fa-calendar-alt"></i> - {{ event.event_day }}s from {{ event.event_date_begins|date:"jS F Y" }} to {{ event.event_date_ends|date:"jS F Y" }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p><i class="far fa-clock"></i> - {{ event.event_time_begins }} 'til {{ event.event_time_ends }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'view_one_event' event.id %}" class="btn btn-success btn-block">View Event</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

