{% extends 'base.html' %}
{% load static %}

{% block title %}Post Event{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
<div class="layout">
    <p>Love</p>
    <h1>Lanarkshire</h1>
    <p>Post Event</p>
</div>
<div class="lanarkshire-form">
    <form method="POST">
        {% csrf_token %}
        {{ post_event_form|crispy }}
        {{ post_event_form.media }}
        <button action="submit" class="btn btn-primary btn-block btn-lg form-button">Post Event</button>
    </form>
</div>

{% endblock %}