{% extends 'base.html' %}
{% load static %}
{% block title %}{{ event.title }}{% endblock %}


{% block content %}

<div class="event-container layout">
    <div class="like-button">
    {% if user.is_authenticated %}
        {% if user_liked %}
            <a href="{% url 'delete_like' event.id %}" class="btn btn-outline-danger"><i class="fas fa-heart like-heart"></i></a>
        {% else %}
            <form method="POST">
                
                {% csrf_token %}
                {{ like_form }}
                
                <button type="submit" name="like_form" class="btn btn-outline-danger"><i class="far fa-heart like-heart"></i></button>
            </form>
        {% endif %}
    {% endif %}
    </div>
    <h3>{{ event.title|title }}</h3>
    <span class="event-host">Hosted by: <a href="mailto: {{ event_host.email }}"><strong>{{ event.event_host|title }}</strong></a> <i class="far fa-envelope"></i></span>
    
    <div class="divider"></div>
    <div class="background-image" {% if event.image %} style="background-image:url({{ event.image.url }})" 
        {% else %} 
            {% if event.event_type == "Arts and Crafts" %}
                style="background-image:url({{ MEDIA_URL }}images/craft_event.jpg)" 
            {% elif event.event_type == "Educational" %}
                style="background-image:url({{ MEDIA_URL }}images/education_event.jpg)" 
            {% elif event.event_type == "Nature" %}
                style="background-image:url({{ MEDIA_URL }}images/nature_event.jpg)" 
            {% elif event.event_type == "Physical and Exercise" %}
                style="background-image:url({{ MEDIA_URL }}images/physical_event.jpg)"
            {% elif event.event_type == "Health and Wellbeing" %}
                style="background-image:url({{ MEDIA_URL }}images/wellbeing_event.jpg)"
            {% elif event.event_type == "Entertainment" %}
                style="background-image:url({{ MEDIA_URL }}images/entertainment_event.jpg)" 
            {% endif %} 
        {% endif %})>
        <div class="row event-info">
            <div class="col-sm-12 col-md-6 col-lg-6 flex-col">
                <div class="row card-row">
                    <div class="col">
                        <p><i class="fas fa-location-arrow"></i> - {{ event.address }}, {{ event.town }}, {{ event.post_code }} </p>
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col">
                        {% if event.price == null %}
                        <p><i class="fas fa-pound-sign"></i> - <strong>FREE</strong></p>
                        {% else %}
                        <p><i class="fas fa-pound-sign"></i> - £{{ event.price }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col">
                        {% if event.event_date_begins == event.event_date_ends %}
                        <p><i class="far fa-calendar-alt"></i> - {{ event.event_day }} {{ event.event_date_begins|date:"jS F Y" }}</p>
                        {% else %}
                        <p><i class="far fa-calendar-alt"></i> - {{ event.event_day }}s from {{ event.event_date_begins|date:"jS F Y" }} to {{ event.event_date_ends|date:"jS F Y" }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col">
                        <p><i class="far fa-clock"></i> - {{ event.event_time_begins }} 'til {{ event.event_time_ends }}</p>
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col">
                        <p><i class="fas fa-users"></i> - {{ event.age_range }}</p>
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col">
                        <p>Current Places: {{ current_places }} </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div id="easy-map-large">
                    {% load easy_maps_tags %} {% easy_map full_address  %}
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <p class="event-text">{{ event.description|capfirst }}</p>
    
    <p class="disclaimer-text"><strong>At present, our events require payment in person at the event. We are working on how we can accept your payments through our site.</strong></p>
    
    {% if user.is_authenticated and user == event_host %}
        <a href="{% url 'edit_event' event.id %}" class="btn btn-success"><i class="fas fa-edit"></i> Edit Event</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#bookedModal"><i class="fas fa-users"></i> View Event Attendees</button>

    {% elif user.is_authenticated and user != event_host %}    
        {% if current_places != '0' %}
            {% if user_joined %}
                <a href="{% url 'delete_participant' event.id %}" class="btn btn-secondary"><i class="fas fa-user-minus"></i> Cancel booking</a>
            {% else %}
                <form class="join-form" method="POST">
                    {% csrf_token %}
                    {{ join_form }}
                    <button type="submit" name="join_form" class="btn btn-success"><i class="fas fa-user-plus"></i> Book a Place</button>
                </form>
            {% endif %}
        {% else %}
            {% if user_joined %}
                <a href="{% url 'delete_participant' event.id %}" class="btn btn-secondary"><i class="fas fa-user-minus"></i> Cancel booking</a>
            {% else %}
                <button class="btn btn-secondary float-right" disabled><i class="fas fa-users"></i> Event Full!</button>
            {% endif %}
        
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-success"><i class="fas fa-user-check"></i> Login to book!</a>
    {% endif %}
        <a href="{% url 'search' %}" class="btn btn-secondary back-btn">Back to Events</a>

    
    
</div>

{% include "event_queue_print_partial.html" %}


{% endblock %}

{% block js %}

<script>
  $().ready(function() {
      $('.modal.printable').on('shown.bs.modal', function() {
          $('.modal-dialog', this).addClass('focused');
          $('body').addClass('modalprinter');
  
      }).on('hidden.bs.modal', function() {
          $('.modal-dialog', this).removeClass('focused');
          $('body').removeClass('modalprinter');
      });
  });
</script>

{% endblock %}
