<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <title>Love Lanarkshire | {% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Sitewide Nav Bar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-effect">
        <a class="navbar-brand" href="#">Love Lanarkshire</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse fade" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <section id="site-background">
    
    <!-- User message will render here -->
        
        {% if messages %}
        <div id="user-message">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
    
    <!-- Individual Page Content -->
    
    {% block content %}
    
    {% endblock %}
    
    </section>
    
    <!-- Sitewide Footer, Links and Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>